<section id="galleryData">
  <article>
    <div class="grid-container">
      {{#each gallery}}
        <main class="gallery_card">
          <header class="gallery_header">
            {{#if (mimetype photo.0.mimetype)}}
              <video>
                <source src="{{TrimString photo.0.path}}" />
              </video>
            {{else}}
              <img src="{{TrimString photo.0.path}}" alt="shashi" />
            {{/if}}
          </header>
          <main class="gallery_content">
            <h2>
              {{photo_name}}
            </h2>
            <p class="para">
              {{photo_description}}
            </p>
            <p>
              {{createdAt}}
            </p>
            <p>
              <strong>
                Uploaded By
              </strong>
              :
              {{user.0.username}}
            </p>
          </main>
        </main>
      {{/each}}
    </div>
  </article>
</section>